<p id="notice"><%= notice %></p>

<h1>Listing Functions</h1>

<ul>
<% @functions.each do |function| %>
	<li><%= link_to function.name, function_path(function.id) %>
		<ul>
		<% function.user.each do |user| %>
			<li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %></li>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>

<br>

<%= link_to 'New Function', new_function_path %>

